<div class="container">

	<div class="row">

		<div class="breadcrumbs breadcrumbs_homeless-index">

			<a><%=link_to "All", cities_path%></a>	
			> <a><%=link_to "City", city_path(@city)%></a>
			> <a><%=link_to "Person", city_homeless_people_path%></a>


		</div>	

		<h1 class="section__header--xl-alt"> Hey <%= @user_name %>, I'm <%= @homeless_person.name %>!</h1>

	</div> <!-- end of row -->


	<div class="row content">
		<div class="col-md-3">
			<%= image_tag @homeless_person.img %>
		</div><!-- end of col-md-6-->

		<div class="col-md-6">

			<p><span class="content__label">Age:</span> <%= @homeless_person.age%> </p>
			<p><span class="content__label">Hometown:</span> Fakeplace, BI</p>

			<p><span class="content__label">My Story:</span> <%= @homeless_person.story%> </p>
			<p><span class="content__label">How you can help:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


			<div class="nav_footer">

				<a><%=link_to "Next", city_homeless_people_path%></a>

			</div>

		</div><!-- end of col-md-6-->

	</div><!-- end of row-->






	<%= @homeless_person.name %>
	<%= @homeless_person.age %>
	<ul>
		<li><%= link_to( "Here is a way to Help!",@homeless_person.help, :target => "_blank") %> </li>
		<li><%= link_to("Click here to help #{@homeless_person.name}!",@homeless_person.help2, :target => "_blank") %> </li>
		<li><%= link_to("Care to lend a hand!?",@homeless_person.help3, :target => "_blank") %> </li>
		<li><%= link_to("If you want to, it'd be really great if you helped #{@homeless_person.name}!",@homeless_person.help4, :target => "_blank")%> </li>
	</ul>


</div>
