<%= form_for @user do |q| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= q.label :name %>:
  <%= q.text_field :name %>

  <%= q.label :age %>:
  <%= q.text_field :age %>

  <%= q.label :gender %>:
  <%= q.text_field :gender %>

  <%= q.label :interest_one %>:
  <%= q.text_field :interest_one %>

  <%= q.label :interest_two %>:
  <%= q.text_field :interest_two %>
  <input type="hidden" name="city_id" value= "<%=@city.id %>" />


  <%= q.submit "Meet a Neighbor!" %>

<% end %>
