


<%= form_for @user do |q| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= q.text_field :name %>
  <%= q.text_field :age %>
  <%= q.text_field :gender %>
  <%= q.text_field :interest_one %>
  <%= q.text_field :interest_two %>


  <%= q.submit %>

<% end %>
