

<div class="container">

	<div class="breadcrumbs breadcrumbs_show">
			  <a><%=link_to "All", cities_path%></a>
			  > <a><%=link_to "City", city_path(@city)%></a>
	</div>

	<h1 class="section__header--xl"> <%=@city.name%>
	</h1>
<div class="row content__section">

	<div class="col-md-6">
			<div class="img_show">
				<img src="<%=@city.img%>">
			</div>
	</div><!-- end of col-md-6 -->


	<div class="col-md-5">

		<div class="row content">
				  <p><span class="content__label">Background:</span> <%=@city.homeless_bio%></p>
		</div>

		<div class="row content">
				  <p><span class="content__label">Homeless Population:</span>  <%=@city.homeless_pop%></p>
				</div>

				<div class="row content">
						  <p><span class="content__label">Current Weather:</span><%= @temperature %><%= @description %></p>
				</div>

				 <div class="row content">
				   <p><span class="content__label">Key Initiaitives:</span> Lorem ipsum dolor sit amet</p>
				 </div>

			</div><!-- end of col-md-5-->

	</section>

</div><!-- end of row  -->

	<h5 class="Form_intro">Fill in the info below and we can show you some profiles of people without homes in your city.</h5>
  <%= render 'form' %>

</div><!-- end of container  -->
