<!DOCTYPE html>
<html>
<head>
  <title>Patternlibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dosis:300,400,500,600' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<section class="nav__header__main--section">

		<div class="nav__header__main">

				<div class="row">

					<div class="nav__header__main--img">
						<div class="col-md-6">
							<a href="index.html"><img src="http://usatcollege.files.wordpress.com/2014/04/usatbarlogo.png"></a>
						</div>  <!-- end of col-md-6 -->
					</div><!-- end of nav__header--img -->


					<div class="nav__header__main-li">
							<div class="col-md-6">
									<i class="fa fa-envelope fa-md"></i>
									<i class="fa fa-google-plus fa-md"></i>
									<i class="fa fa-twitter fa-md"></i>
									<i class="fa fa-facebook fa-md"></i>
							</div> <!-- end of col-md-6 -->
					</div><!-- end of nav__header-li -->

				</div><!-- end of "row" -->

		</div><!-- end of "nav__header__main" -->

	</section> <!-- end of "nav__header__main" -->






<%= yield %>

</body>
</html>
