<!DOCTYPE html>
<html>
<head>
  <title>Patternlibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<section class="nav__header__main--section">
			
		<div class="nav__header__main">		

				<div class="row">

					<div class="nav__header__main--img">
						<div class="col-md-6"> 
							<a href="index.html"><img src="http://usatcollege.files.wordpress.com/2014/04/usatbarlogo.png"></a>
						</div>  <!-- end of col-md-6 -->
					</div><!-- end of nav__header--img -->


					<div class="nav__header__main-li">
							<div class="col-md-6">
									<i class="fa fa-envelope fa-md"></i>
									<i class="fa fa-google-plus fa-md"></i>
									<i class="fa fa-twitter fa-md"></i>
									<i class="fa fa-facebook fa-md"></i>
							</div> <!-- end of col-md-6 -->
					</div><!-- end of nav__header-li -->

				</div><!-- end of "row" -->

		</div><!-- end of "nav__header__main" -->

	</section> <!-- end of "nav__header__main" -->



	<section class="nav__header__secondary">

			<div class="container">

						<div class="row">

							<div class="col-md-12">

								<div class="nav__secondary">

									<div class="row">


											<div class="nav__header__secondary">
												
												<div class="col-md-2"> 
													<div class="nav__secondary--topic">
														<a href="index.html">Economy</a>
													</div>
												</div>  <!-- end of col-md-4 -->

												<div class="col-md-7"> 
													<div class="nav__header__secondary-li">
															<li><a href="#">VOICES</a></li>
															<li><a href="#">CAMPUS LIFE</a></li> 
															<li><a href="#">CAREER PATH</a></li> 
															<li><a href="#">COLLEGE CHOICE</a></li>
															<li><a href="#">STUDY ABROAD</a></li>
													</div>
												</div>  <!-- end of col-md-4 -->

												<div class="col-md-3"> 
													<div class="nav___fa">
														<i id="fa-border" class="fa fa-search fa-lg"></i>
														<i class="fa fa-facebook fa-lg"></i>
														<i class="fa fa-twitter fa-lg"></i>
														<i class="fa fa-instagram fa-lg"></i>
													</div>  <!-- end of nav___fa -->	
												</div>  <!-- end of col-md-4 -->	


									 </div><!-- end of row -->


								</div><!-- end of col-md-12 -->

						     </div><!-- end of nav__header__secondary -->


						</div> <!-- end of row -->

			</div><!-- end of "container" -->	

	</section> <!-- end of "nav__header__secondary" -->



	<section class="body">

		<div class="container">

			<div class="body__container">

				<div class="row">

					<div class="col-md-12">
						<p class="body__topic">Great Success Debate</p>

					<h2 class="header">How do can your neighbor fell on hard times?</h2>

					x</div>


				</div><!-- end of row--> 

		    </div><!-- end of body__container--> 


		</div><!-- end of container--> 


	</section> <!-- end of body --> 







<%= yield %>

</body>
</html>
